In [1]:
import pandas as pd

In [2]:
import pandas as pd
import numpy as np

In [3]:
sr = pd.Series([2,5,9,6,1,7])
sr

0    2
1    5
2    9
3    6
4    1
5    7
dtype: int64

months = pd.Series([31,28,31,30,31,30,31,31,30,31,30,31],
index =["jan","feb","march","april","may","june","july","aug","sep","oct","nov","dec"])
months

In [4]:
months = pd.Series([31,28,31,30,31,30,31,31,30,31,30,31],
                   index =["jan","feb","march","april","may","june","july","aug","sep","oct","nov","dec"])
months

jan      31
feb      28
march    31
april    30
may      31
june     30
july     31
aug      31
sep      30
oct      31
nov      30
dec      31
dtype: int64

In [5]:
months.index

Index(['jan', 'feb', 'march', 'april', 'may', 'june', 'july', 'aug', 'sep',
       'oct', 'nov', 'dec'],
      dtype='object')

In [6]:
months.values

array([31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31], dtype=int64)

In [7]:
months.index.tolist()

['jan',
 'feb',
 'march',
 'april',
 'may',
 'june',
 'july',
 'aug',
 'sep',
 'oct',
 'nov',
 'dec']

In [8]:
months.values.tolist()

[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

In [9]:
marks = pd.Series(np.random.randint(36,99,4),
                  index = ("Ram","Sham","Sita","Gita"),
                  name = "Students_Marks")
marks

Ram     90
Sham    75
Sita    71
Gita    44
Name: Students_Marks, dtype: int32

In [10]:
marks.mean()

70.0

In [11]:
marks.std()

19.165942015286735

In [12]:
df1 = pd.DataFrame(np.random.randint(36,99,4),
                  columns = ["marks"])
df1

   marks
0     53
1     71
2     55
3     41

In [13]:
dict = {
    "sachine" : "Batsman",
    "Virat"  :  "Batsman",
    "jadeja" : "All-rounder",
    "Bumarah" : "Pacer",
    "Kuldeep" : "Spineer"
    
}
Players = dict.keys()
role = dict.values()
Players,role

(dict_keys(['sachine', 'Virat', 'jadeja', 'Bumarah', 'Kuldeep']),
 dict_values(['Batsman', 'Batsman', 'All-rounder', 'Pacer', 'Spineer']))

In [14]:
team_players = {
    "Players":['sachine', 'Virat', 'jadeja', 'Bumarah', 'Kuldeep'],
 "role":['Batsman', 'Batsman', 'All-rounder', 'Pacer', 'Spineer']
    
}

In [15]:
team = pd.DataFrame(team_players)
team

   Players         role
0  sachine      Batsman
1    Virat      Batsman
2   jadeja  All-rounder
3  Bumarah        Pacer
4  Kuldeep      Spineer

In [16]:
team.shape

(5, 2)

In [19]:
df3 = pd.read_excel("marks.xsml")
df3

FileNotFoundError: [Errno 2] No such file or directory: 'marks.xsml'